<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MIN_TEMPERATURE" value="0" />
		<add key="MAX_TEMPERATURE" value="100" />
		<add key="HOW_MANY_DATA_PER_MINUTE_FOR_TEMPERATURE" value="12" />
		<add key="MINUTE_IN_MILISECONDS" value="60000" />
	</appSettings>
</configuration>
